<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>insertp</servlet-name>
        <servlet-class>aa.insertp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportcode</servlet-name>
        <servlet-class>bb.reportcode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportgoogling</servlet-name>
        <servlet-class>bb.reportgoogling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportgaming</servlet-name>
        <servlet-class>bb.reportgaming</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportquiz</servlet-name>
        <servlet-class>bb.reportquiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportppt</servlet-name>
        <servlet-class>bb.reportppt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportproject</servlet-name>
        <servlet-class>aa.reportproject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reporthunt</servlet-name>
        <servlet-class>bb.reporthunt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportphotography</servlet-name>
        <servlet-class>bb.reportphotography</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportfuncorner</servlet-name>
        <servlet-class>bb.reportfuncorner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportgogreen</servlet-name>
        <servlet-class>bb.reportgogreen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportgogling</servlet-name>
        <servlet-class>bb.reportgogling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportprojec</servlet-name>
        <servlet-class>bb.reportprojec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportgamin</servlet-name>
        <servlet-class>bb.reportgamin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportsell</servlet-name>
        <servlet-class>bb.reportsell</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportworkshop</servlet-name>
        <servlet-class>bb.reportworkshop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reporttotalregisteredparticipants</servlet-name>
        <servlet-class>bb.reporttotalregisteredparticipants</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertp</servlet-name>
        <url-pattern>/insertp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportcode</servlet-name>
        <url-pattern>/reportcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportgoogling</servlet-name>
        <url-pattern>/reportgoogling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportgaming</servlet-name>
        <url-pattern>/reportgaming</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportquiz</servlet-name>
        <url-pattern>/reportquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportppt</servlet-name>
        <url-pattern>/reportppt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportproject</servlet-name>
        <url-pattern>/reportproject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reporthunt</servlet-name>
        <url-pattern>/reporthunt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportphotography</servlet-name>
        <url-pattern>/reportphotography</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportfuncorner</servlet-name>
        <url-pattern>/reportfuncorner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportgogreen</servlet-name>
        <url-pattern>/reportgogreen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportgogling</servlet-name>
        <url-pattern>/reportgogling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportprojec</servlet-name>
        <url-pattern>/reportprojec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportgamin</servlet-name>
        <url-pattern>/reportgamin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportsell</servlet-name>
        <url-pattern>/reportsell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportworkshop</servlet-name>
        <url-pattern>/reportworkshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reporttotalregisteredparticipants</servlet-name>
        <url-pattern>/reporttotalregisteredparticipants</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
